.idea
*.iml


#Backend
/rejabs-backend/HELP.md
/rejabs-backend/target/
/rejabs-backend/!.mvn/wrapper/maven-wrapper.jar
/rejabs-backend/!**/src/main/**/target/
/rejabs-backend/!**/src/test/**/target/
/rejabs-backend/mvnw
/rejabs-backend/mvnw.cmd
/rejabs-backend/.mvn
/rejabs-backend/src/main/resources/application-dev.properties

#Frontend

/rejabs-frontend/node_modules
/rejabs-frontend/dist
/rejabs-frontend/dist-ssr
/rejabs-frontend/*.local
/rejabs-frontend/.env*